.calcNovelo_campos {
    display: flex;
    gap: 16px;
    align-items: end;
}

.calcNovelo-tamanho_wrapper div {
    display: flex;
    gap: 4px;
}

.calcNovelo-escolherLinha span {
    display: flex;
    width: 100%;
}

#selectLinha {
    width: 100%;
    margin-right: 4px;
}

@media (max-width: 600px) {
    .calcNovelo_campos {
        flex-direction: column;
    }
}
