h4 {
    color: #ad7310;
    margin-bottom: 8px;
    margin-top: 16px;
}

.modalBackgroundBlur {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
    height: 100%;
    width: 100%;
}

.modal {
    background-color: white;
    box-shadow: 0px 3px 10px #e8bac4;
    padding: 20px;
    border-radius: 20px;
}

.modal span {
    display: flex;
    gap: 16px;
}
@media (min-width: 400px) {
    .modalWrapper {
        height: 100vmin;
    }
}

@media (max-width: 400px) {
    .modal span {
        gap: 0px;
        flex-direction: column;
    }
}
