.campoDesconto {
    display: flex;
    gap: 8px;
}

.campoDesconto fieldset {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

@media (max-width: 600px) {
    .campoDesconto {
        flex-wrap: wrap;
    }
    .campoDesconto fieldset,
    .campoDesconto button {
        width: 100%;
    }
}

