.campoDesconto {
    display: flex;
    gap: 8px;
}

@media (max-width: 600px) {
    .campoDesconto {
        flex-wrap: wrap;
    }
    .campoDesconto fieldset,
    .campoDesconto button {
        width: 100%;
    }
}

@media (min-width: 600px) {
    .campoDesconto input {
        margin: 0;
    }
}
