* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffeef2;
    min-height: 100vh;
    margin: 15px;
}

hr {
    color: pink;
    margin: 16px 0;
}

input,
select {
    background-color: #ffffff;
    border: solid 2px #f4c4c4;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    margin-bottom: 8px;
    display: inline-block;
}

label,
p {
    font-weight: 600;
    color: #5a4a4a;
    font-size: 15px;
    margin: 0 8px 4px 0;
    line-height: 1.3;
}

h2 {
    text-align: center;
    margin: 16px 0;
    color: #d6a344;
}

h2,
h3 {
    font-family: "Hynings Handwriting V2", sans-serif;
}

fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

main {
    margin: auto;
    background-color: #fff;
    padding: 26px 52px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 3px #f3cfd7;
    max-width: 600px;
    width: 100%;
}

button {
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 4px 0 4px;
}

.btn {
    border: 2px solid transparent;
}

.btnFull {
    border: 2px solid transparent;
    width: 100%;
}

.btnPrimario {
    background-color: #cc8c39;
    color: #fff;
}

.btnPrimario:hover {
    background-color: #b66b2d;
}

.btnIcone {
    padding: 4px 10px;
    font-size: 20px;
    vertical-align: middle;
}

.btnSecundario {
    border-color: #cc8c39;
    background-color: #fff;
    color: #cc8c39;
    margin-bottom: 8px;
    margin-left: 4px;
}

.btnSecundario:hover {
    background-color: #fffadb;
}

.gridTamanho {
    display: flex;
    gap: 16px;
}

.gridTamanho fieldset {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.gridTamanho input {
    display: block;
    width: 100%;
}

.checkbox-wrapper {
    margin-top: 12px;
}

.checkbox-wrapper input[type="checkbox"] {
    margin: 0px 4px;
}

@media (max-width: 600px) {
    main {
        padding: 16px 36px;
    }
    .slctLinha {
        display: flex;
        flex-wrap: wrap;
    }
    h2 {
        font-size: 20px;
    }
    .slctLinha select {
        width: 100%;
    }
}
