@font-face {
    font-family: "Hynings Handwriting V2";
    src: url(../public/fonte/HyningsHandwritingV2-Regular.ttf);
}

* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fee7c6;
    min-height: 100vh;
    margin: 15px;
    background-image: url(/public/Gato.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
}

main {
    margin: auto;
    background-color: #ffffff99;
    padding: 20px 25px;
    border-radius: 20px;
    /* box-shadow: 3px 3px 10px 3px #f3cfd7; */
    border: 1px solid #ffffff40;
    backdrop-filter: blur(8px);
    width: 100%;
}

hr {
    border: 1px solid #ffb8c499;
    margin: 16px 0;
}

fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    gap: 8px;
}

input,
select {
    background-color: #fff;
    border: solid 2px #f9ebf2;
    padding: 0.75rem 1rem;
    border-radius: 16px;
    display: inline-block;
}

.checkbox {
    appearance: none;
    position: relative;
    padding: 12px;
    border-radius: 8px;
    vertical-align: middle;
}

.checkbox::after {
    content: " ";
    position: absolute;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}

.checkbox:checked:after {
    display: block;
}

.checkbox:checked {
    background-color: #f3c63f;
}

label,
p {
    font-weight: 600;
    color: #5a4a4a;
    font-size: 15px;
    margin: 0 8px 4px 0;
}

h3 {
    text-align: center;
    margin-bottom: 16px;
    color: #d89d14;
    font-size: 26px;
}

h2 {
    text-align: center;
    color: #f5ad01;
    font-size: 26px;
}

h3 {
    font-family: "Hynings Handwriting V2", sans-serif;
    letter-spacing: 0.5px;
}

button {
    font-weight: 600;
    cursor: pointer;
    border-radius: 16px;
    padding: 8px 16px;
    border: 2px solid transparent;
    height: fit-content;
    font-size: 18px;
    letter-spacing: 0.5px;
    box-shadow: 0px 3px #de9506;
}

.btnFull {
    width: 100%;
    margin: 4px 0;
}

.btnPrimario {
    background-color: #fbcf4e;
    color: #58321e;
}

.btnPrimario:hover {
    background-color: #f3c63f;
}

.btnIcone {
    padding: 4px 10px;
    font-size: 20px;
    vertical-align: middle;
}

.btnSecundario {
    /* border-color: #F5AD01; */
    background-color: #fff9e8;
    color: #f5ad01;
}

.btnSecundario:hover {
    background-color: #faf2e4;
}

#selectLinha {
    margin-right: 8px;
}

@media (max-width: 600px) {
    main {
        padding: 16px 36px;
    }
}
