* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffeef2;
    min-height: 100vh;
}

input,
select {
    background-color: #ffffff;
    border: solid 2px #f4c4c4;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    margin-bottom: 8px;
    display: inline-block;
}

label,
p {
    font-weight: 600;
    color: #726363;
    font-size: 15px;
    margin-right: 8px;
}

h2 {
    text-align: center;
    margin: 16px;
    color: #d6a344;
}

h2,
h3 {
    font-family: "Hynings Handwriting V2", sans-serif;
}

fieldset {
    border: none;
}

main {
    margin: auto;
    background-color: #fff;
    padding: 40px 52px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 3px #f3cfd7;
    max-width: 400px;
}

button {
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 4px 0 4px;
}

.btn {
    border: 2px solid transparent;
}

.btnFull {
    border: 2px solid transparent;
    width: 100%;
}

.btnPrimario {
    background-color: #cc8c39;
    color: #fff;
}

.btnPrimario:hover {
    background-color: #b66b2d;
}

.btnIcone {
    padding: 4px 10px;
    font-size: 20px;
    vertical-align: middle;
}

.btnSecundario {
    border-color: #cc8c39;
    background-color: #fff;
    color: #cc8c39;
    margin-bottom: 8px;
    margin-left: 4px;
}

.btnSecundario:hover {
    background-color: #fffadb;
}

.gridTamanho {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.gridTamanho label {
    display: block;
    margin-bottom: 5px;
}

.gridTamanho input {
    display: block;
}

hr {
    color: pink;
    margin: 16px 0;
}

input[type="checkbox"] {
    margin-right: 4px;
}
